body {
  background-color: #f9fafc;
  /* background: url('http://127.0.0.1:200//images/etc/main.png') no-repeat fixed bottom; */
  background-position: absolute;
  background-size: 100%;
  margin-top: 0%;
  /* background: url(${process.env.PUBLIC_URL +'/images/bg-home.png'}) no-repeat fixed bottom; */
  /* background-color: white; */
}


/* footer */
.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Public Sans', sans-serif;
}

.content-wrap{
  flex: 1;
}
/*  */
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */




.Mainpage {
  margin-bottom: 5%;
}

.md-social-btn .mbsc-ic {
  float: left;
}

.btn{
  cursor: pointer;
}

.ReactTable {
  width:100% !important;
}
