body {
  background-color: #f4f4f4;
  /* background-color: white; */
}


/* footer */
.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Public Sans', sans-serif;
}

.content-wrap{
  flex: 1;
}
/*  */
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */


.conatainer {
  margin: auto;
}

.Mainpage {
  margin-bottom: 5%;
}

.md-social-btn .mbsc-ic {
  float: left;
}

.btn{
  cursor: pointer;
}

