.chat-page {
    display: flex;
    min-height: 80vh;
}

.chat-page .container-fluid{
    margin-top: 2%;
    overflow:hidden;
    background-color: #ffffff;
}

.chatlist-msg {
    text-decoration: none;
    color: #000;
}

.main-chatlist {
    /* border-right: 1px solid #ebe7fb; */
    /* padding: 10px 0 0 10px; */
    border-right: 1px solid #ebe7fb;
  }
  
  link {
    text-decoration: none;
  }
  
  .chatlist__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 6%;
  }
  
  .btn-nobg {
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    color:#ecefff;
    outline: none;
  }
  
  .search_wrap {
    background-color: #ecefff;
    border-radius: 5px;
    margin-bottom: 5%;
    margin-right: 4%;
  }
  
  .search_wrap input {
    background-color: transparent;
    border: none;
    padding: 15px 15px;
    outline: none;
    width: 80%;
    padding-right: 0;
  }
  
  .search-btn {
    height: 46px;
    border: none;
    background-color: transparent;
    outline: none;
    width: 20%;
    cursor: pointer;
    font-size: 20px;
  }
  
  .chatlist-msg link{
    margin-right: 5%;
    text-decoration: none;
  }
  
  .chatlist-user{
    /* background-color: #e6e5ea; */
    border-radius: 5px;
    /* font-family: 'Public Sans', sans-serif; */
    margin-top: 2%;
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: 4%;
  }
  
  .chatlist-user::-webkit-scrollbar-track{
    background-color: #dfdfdfdf;
    border-radius: 10px;
    /* margin-left: 5%; */
  
  }
  
  .chatlist-user::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    
  }
  
  .chatlist-user::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.4);;
    border-radius: 10px;
    
  }
  
  .user-list{
    background-color : rgba(0, 0, 0, 0.2);
    /* margin-left: 89%; */
  }
  
  .user-list-pic img{
    position: relative;
    margin-top: 3px;
    /* margin-right: 20px; */
    max-height: 50px;
    min-height: 50px;
    border: 4px red transparent;
    border-radius: 50%;
    margin-right: 140px;
  }
  
  .user-list-input h6{
    margin-top: 5%;
    font-size: 18px;
  }
  
  .msg-user{
    margin: 5px;
    padding: 5px;
    /* width: 95%; */
    max-height: 60%;
    min-height: 20px;
    display: grid;
    grid-template-columns: 20% 80%;
    /* background-color: aquamarine; */
    /* border-radius: 5px; */
    border-bottom: 1px #dfdfdfdf solid;
  }
  
  .msg-user:hover{
    background-color: #F7F7F9;
    /* opacity: 0.3; */
    cursor: pointer;
    border-radius: 0.75rem;
    border: 2px solid #e3e9ff;
  }
  
  .select-user-list{
    background-color: #e3e9ff;
    border-radius: 0.55rem;
    
  }

  .user-list-text{
    font-family: 'Public Sans', sans-serif;
    font-size: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; 
    /* max-width: 500px;  */
    font-weight: 600;
    overflow: hidden;
    /* padding: 2%; */
  }
  
  .user-list-input{
    margin: 2%;
  }
  
  .connec {
    position: relative;
    display: flex;
    margin-top: -17px;
    margin-left: 20px;
    width:15px;
    height: 15px;
    border-radius: 100%;
    background-color: white;
    /* z-index: auto; */
    /* top: -20; */
    left: 21px;
  }
  
  .connec .fa-line{
    color: #00B900;
  }
  
  .connec .fa-facebook-square{
    color: #1877f2;
  }
  
  .bloc-tabs {
    display: flex;
    margin-right : 40px;
  }
  

  .tabs{
    display:inline-block;
  }

  .tabs {
    padding: 6px;
    text-align: center;
    width: 50%;
    /* background: rgba(128, 128, 128, 0.075); */
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
    font-size: 15px;
}
.tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
    background: white;
    border-bottom: 1px solid transparent;
    font-size: 15px;
}

.active-tabs span {}

.active-tabs-line i{
    color: #009B00;
    border-bottom: 1px solid transparent;
}

.active-tabs-facebook i{
  color: #0078ff;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
    display: block;
    padding: 80px 20px 10px;
    background: #fff;
    font-size: 17px;
    font-weight: 700;
    color: #999;
    text-transform: uppercase;
    text-align: center;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #fff;
    margin-right: 0;
    overflow: hidden;
    z-index: 1;
    position: relative;
    transition: all 0.3s ease 0s;
}

.content-tabs {
    flex-grow : 1;
}

.content {
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
}

.content h2 {
    padding: 0px 0 5px 0px;
}

.content hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
}

.content p {
    width: 100%;
    height: 100%;
}

.active-content {
    display: block;
}




  /* Chatbody */

  .chat-body {
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.content__header {
  /* padding-bottom: 15px; */
  /* border-bottom: 1px solid #ebe7fb; */
  /* color: #00B900; */
  min-height: 20px;
  font-weight: 600;
}


.content__header p {
  margin-top: 0 !important;
  margin-bottom: 5px;
}

.content__body {
  min-height: 60vh;
  max-height: 60vh;
  overflow: auto;
  margin-top: 2%;
  margin-right: 2%;
  border-top: 1px solid #ebe7fb;

}

.content__body::-webkit-scrollbar {
  width: 6px;
}

.content__body::-webkit-scrollbar-track {
  background: #ddd;
}

.content__body::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}


.content__footer {
  padding-top: 15px;
}

.sendNewMessage {
  background-color: #ecefff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
}

.sendNewMessage button {
  width: 36px;
  height: 36px;
  background-color: #ecefff;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: #4665ff;
  padding: 0;
  border-radius: 5px;
  line-height: 36px;
  transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);
}

.sendNewMessage button:hover {
  transform: scale(1.2);
}

.sendNewMessage button i {
  display: block;
}

.sendNewMessage input {
  flex-grow: 1;
  /* padding: 0 5%; */
  width: 90%;
  background-color: transparent;
  border: none;
  outline: none;
}

#sendMsgBtn {
  background-color: #3b5bfe;
  color: #fff;
}

.msg-all{
  font-family: 'Public Sans', sans-serif;
  
}

.head-name {
  font-weight: bolder;
  justify-content: space-between;
  /* z-index: -10000; */
}

.from-owner{
  position:absolute;
  right: 1%;
  top: -30px;
  /* z-index: -10000; */
}

.msg:last-of-type {
  margin: 0;
}

.msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}


.chat-body {
  width: 100%;
  background-color: #fff;
}

.chat__item{
  /* z-index: 1000; */
  margin: 2% 2% 0 2%;
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-bottom: 11%;

}

@keyframes showIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.owner-msg {
  /* float: right; */
}

.owner-send{
  /* z-index: 10000; */
  position: absolute;
  right: 1%;
  background-color: #4462ff;
  color: #fff;
  padding: 15px;
  border-radius: 10px 10px 0 10px;
  max-width: 50%;
  min-width: 215px;
}

.owner-msg{
  /* z-index: 10000; */
  flex-direction: row-reverse;
  transform-origin: left;
  float: right;
}

.customer-send{
  /* z-index: 10000; */
  background-color: #e3e9ff;
  color: #000;
  padding: 15px;
  border-radius: 10px 10px 10px 0;
  max-width: 500px;
  min-width: 210px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* width: min(150vw, 100px);  */
  /* justify-content: flex-start; */
}


.current-chatting-user{
  font-size: 25px;
  /* margin-top: 2%; */
  margin-left: 2%;
}


/******************* toggle switch ***********************/

.toggle {
  position: absolute;
  width: 60px;
  height: 30px;
  border-radius: 100px;
  background-color: #ddd;
  overflow: hidden;
  box-shadow: inset 0 0 2px 1px rgba(0,0,0,.05);
  right: 10px;
  top: -5px;
}

.check {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 6;
}

  .check:checked ~ .track {
    box-shadow: inset 0 0 0 20px #4bd863;
  }

  .check:checked ~ .switch {
    right: 2px;
    left: 22px;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-property: left, right;
    transition-delay: .05s, 0s;
  }

.switch {
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 22px;
  background-color: #fff;
  border-radius: 36px;
  z-index: 1;
  transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  transition-property: left, right;
  transition-delay: 0s, .05s;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.track {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  box-shadow: inset 0 0 0 2px rgba(0,0,0,.05);
  border-radius: 40px;
}

