* {
    padding: 0;
    margin: 0;
  }
 
  .org-tree{
   min-width: max-content;
   
  }

   
  .org-tree ul {
    padding-top: 20px;
    position: relative;
  }
  
  .org-tree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;

  }
  
  /*We will use ::before and ::after to draw the connectors*/
  
  .org-tree li::before,
  .org-tree li::after { /*เส้นยาว */
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 2px solid rgb(0, 0, 0);
    width: 50%;
    height: 20px;
  }
  .org-tree li::after { /*เส้นชี้ฝั่งซ่้าย */
    right: auto;
    left: 50%;
    border-left: 2px solid rgb(0, 0, 0);
  }
  
  .org-tree li:only-child::after,
  .org-tree li:only-child::before {
    display: none;
  }
  
  .org-tree li:only-child {
    padding-top: 20 px;
  }
  
  .org-tree li:first-child::before,
  .org-tree li:last-child::after {
    border: 0 none;
  }
  
  .org-tree li:last-child::before {    /* เส้นชี้ฝั่งขวา*/
    border-right: 2px solid rgb(0, 0, 0);
    border-radius: 0 5px 0 0;

  }
  /* .org-tree li:first-child::after {
    border-radius: 5px 0 0 0;

  }
   */
  .org-tree ul ul::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 2px solid rgb(0, 0, 0);
    width: 0;
    height: 20px;
  }

 