<form method=POST action="{{ url_for('connect') }}">
    <p><input type="text" name="ch_sc" />Channel_secret</p>
    <p><input type="text" name="ch_ac_tk" />Channel_access_token</p>
    <p><input type="text" name="basic_id" />basic_id</p>
    <p><input type="text" name="pfa_tk" />page_facebook_access_token</p>
    <p><input type="text" name="vf_tk" />VERIFY_TOKEN</p>
    <p><input type="submit" value="submit"/></p>

    </form>


welcome2 {{username}} .........


<button href="http://localhost:200/logout">link text</button>