:root {
  --bg:  white;
   --bg-accent: #f4f4f4;
   --text-color: #232032;
   --nav-size: 60px;
   --border: 1px solid ;
   --border-radius: 8px;
   --speed: 500ms; 
 }

.navbar-nav-real ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
}

a.noti-show-info-user{
  display : inline-block;
  padding: 0 !important;
}


.icon-button-real a {
  color: var(--text-color);
  text-decoration: none;
}

/* Top Navigation Bar */

/* <nav> */
.navbar-real {
  font-family: 'Public Sans', sans-serif;
  /* position: static; */
  height: 8vh;
  background-color: white;
  /* background-color: transparent; */
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 0.25rem;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.navbar-real ul {
  right: auto;
}

/* <li> */
.nav-item-real {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  z-index: 20;
}

/* Icon Button */
.icon-button-real {
  /* --button-size: calc(var(--nav-size) * 0.6);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #F2F2F0;
  background-color: #eaeaea;
  border-radius: 20%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms; */
}

.icon-button-real:hover {
  /* filter: brightness(1.2); */
}

.icon-button-real svg { 
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

.signout-icon  {
  /* fill: var(--text-color); */
  font-size: 20px 20px;
  color: #f40000;
}

.click-show-user .click{
  background-color: #fca311;
  color: #000;
}

.show-user:hover a{
  background-color: #fca311;
  color: #000;
  }

.show-user i {
  margin-right: 8px;
  align-items: baseline;
}

.show-user {
  width: calc(var(--nav-size) * 0.1);
  align-items: center;
  justify-content: flex-end;
  display: flex;
  text-align: -webkit-match-parent;
  margin-right: 80%;
}

.show-user a{
  width: auto;
  /* height: auto; */
  padding: 0.35rem 0.8rem;
  margin: 1px;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  vertical-align: middle;
  border-radius: 3rem;
  /* border: 1px solid #fca311	; */
  text-decoration: none;
  /* color: #000; */
  color: #000;
  /* overflow: hidden; */
}

span.username-showuser{
  /* min-width: 80px;
  max-width: 100px;
  overflow-x: hidden;
  text-overflow:ellipsis; */
}


.nav_brand {
  width: 25vh;
  margin-top: 5%;
}
/* <ul> */
.navbar-nav-real {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

/* <li> */
.nav-item-real {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;

}

/* Icon Button */
.icon-button-real {
  --button-size: calc(var(--nav-size) * 0.6);
  width: var(--button-size);
  height: var(--button-size);
  /* background-color: #F2F2F0; */
  background-color: #eaeaea;
  border-radius: 50%;
  padding: 10px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
  float: right;
}

.icon-button-real:hover {
/* filter: brightness(1.2); */
}

.icon-button-real svg { 
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

.signout-icon  {
  /* fill: var(--text-color); */
  font-size: 20px 20px;
  color: #f40000;
}

/* Dropdown Menu */

.dropdown-real {
  position: absolute;
  top: 58px;
  width: 300px;
  height: auto;
  transform: translateX(-45%);
  background-color: var(--bg);
  /* border: var(--border); */
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.menu-real {
  width: 100%;
}

.menu-item-real {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
  color: var(--text-color);
  text-decoration: none;
}

.menu-item-real .icon-button-real {
  margin-right: 0.5rem;
}


.menu-item-real .icon-button-real:hover {
  filter: none;
}

.menu-item-real:hover {
  background-color: #F4F3F3;
  color: #232032;

}

.icon-right-real {
  margin-left: auto;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);

}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;

}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}


.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

.btn-nav a {
  border-radius: 30px;
  font-weight: bold;
  transition: all 0.2s;
  width: 100%;
  text-transform: uppercase;
  /* box-shadow: 0 0.5rem 1rem 0 rgb(0 0 0 / 10%); */
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  }

.btn-signup {
  margin-left: 0.5rem;
  margin-right: 2rem;
}

.btn-login a {
  padding: 0.5rem 1.5rem;
  margin-top: 12%;
  border: 1px solid #232032;
  color: white;
  font-family: 'Public Sans', sans-serif;
  font-size: 15px;
  background-color: #14213D;
}

.btn-login:hover a {
  border: 1px solid #232032;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  color: white;
  background-color: #232032;
}

.btn-signup a {
  font-family: 'Public Sans', sans-serif;
  padding: 0.5rem 1rem;
  font-size: 15px;
  margin-top: 12%;
  border: 5;
  color: #14213D;
  background-color: transparent;
}

.btn-signup a:hover{
box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

@media  only screen and (min-width:1600px){
.btn-login{
  margin-top: 8%;
}

.btn-signup {
  margin-top: 7%;
}
}

/******************** noti********************************** */
.menu-trigger-noti {
  position: absolute;
  --button-size: calc(var(--nav-size) * 0.6);
  width: var(--button-size);
  height: var(--button-size);
  /* background-color: #F2F2F0; */
  background-color: #eaeaea;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
  right: 50px;
  cursor: pointer;
  float: right;
}


.dropdown-noti ul{
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  z-index: -1;
  cursor: pointer;
  position: absolute;
  /* margin-top: 80px; */
  top: 15px;
  right: 5px;
  width: 400px;
  max-height: 700px;
  padding: 20px;
  overflow-y: scroll;
}

.dropdown-noti ul::-webkit-scrollbar-track{
  background-color: #dfdfdfdf;
  border-radius: 10px;
  margin: 20px;
}

.dropdown-noti ul::-webkit-scrollbar{
  width: 8px;
  height: 8px;
  margin: 20px;

}

.dropdown-noti ul::-webkit-scrollbar-thumb{
  background-color: rgba(0, 0, 0, 0.4);;
  border-radius: 10px;
  margin: 20px;

}

.msg-noti-i {
  /* border: 1px solid rgb(113, 113, 122); */
  border-radius: 4px;
  /* padding: px; */
  /* width: 50px; */
  background-color: #fcfcfc;
  margin-top: 5px;
  /* color: ; */
  border-left: 10px solid #7ED957;
}

.msg-noti-i .noti-show-user-type{
  position: absolute;
  left: 10px;
}

.msg-noti-i .noti-show-name{
  color: #000;
  font-weight: 600;
}

.msg-noti-i .noti-show-msg{
  color: #000;
  font-weight: 600;
}

.msg-noti-i .noti-show-time{
  color: #000;
  font-weight: 600;
}

.msg-noti-i img{
  /* border: 1px solid rgb(113, 113, 122); */
  border-radius: 50%;
  padding: 5px;
  width: 60px;
  z-index: -10;
  }


.msg-noti-iread{
  /* background-color: #f4f4f4; */
  color: #959595;
}

.noti-show-user-type .noti-show-facebook { positon: absolute;   left: 70px; }

.msg-noti-iread img{
  /* border: 1px solid rgb(116, 47, 47); */
  border-radius: 50%;
  padding: 5px;
  width: 60px;
} 

.msg-noti-all {
  display: grid;
  grid-template-columns: repeat(2, 20% 80%);
  grid-column-gap: 10px;
}


.noti-show-info-user {
  display: inline-block;
  padding: 5px 0;
}

a.noti-show-info-user {
  padding: 0 !important;


}

.noti-show-info-user .noti-show-name{
  /* color: #959595; */
  font-size: 16px;
  font-weight: 600;
  margin-top: 6px;
}

.noti-show-info-user .noti-show-msg{
  /* color: #959595; */
  font-size: 14px;
  margin-top: -15px;
  max-width: 170px;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

p.noti-each-msg {
  margin: 0 !important;
  }

  .noti-show-new{
  position: absolute;
  right: 30px;
}

.noti-show-new p{
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  background-color: #7ED957;
  width: 50px;
  border-radius: 0.5rem;
}

.number-noti{
  position: relative;
  top: -10px;
  right: 3px;
  color: #fff;
  background-color: #f40000;
  border-radius: 100%;
  z-index: 1000;
  padding: 0 6px;

}

p.show-number{
  /* padding: 0px 3px; */
  font-size: 12px;
  font-weight: 700;
  margin: 0px !important;
  }

  .noti-show-info-user .noti-show-bot {
  position: absolute;
  right: 30px;
  /* top: 10px; */
  margin-top: -20px;
}

p.noti-show-bot{
  font-size: 14px;
  max-width:  100px;
  max-height: 20px;
  /* margin-bottom: 2px; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.noti-show-img-and-type{
  width: 50px;
}

.noti-show-user-type {
  display: flex;
  border-bottom: 10px solid transparent;
  /* width: 10px;
  height: 1px;
  background: white;
  width: 16px; */
}

.noti-show-user-type .noti-show-line{
  /* font-size: 20px; */
  color: #009B00;
  border-bottom: 1px solid transparent;
  position: absolute;
  /* margin-top: 5px; */
  left: 70px;
  margin-top: -25px;

}

.noti-show-user-type .noti-show-facebook{
  color: #0078ff;
  border-bottom: 1px solid transparent;
  /* font-size: 20px; */
  position: absolute;
  /* margin-top: 5px; */
  left: 68px;
  margin-top: -25px;
}